.row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr 1fr 2fr;
  gap: 1px;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.data-cell {
  font-size: 16px;
  padding: 15px;
  color: var(--secondary_color);
  align-self: center;
}

.data-cell a {
  text-decoration: underline;
  color: var(--secondary_color);
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.negative-amount {
  color: red;
}
